form{
    display: flex;
    margin-top: 300px;
    flex-direction: column;

}

.id{
margin-left:550px ;
margin-right: 550px;
padding: 10px;
border-radius: 13;
font-weight: bold;
border: none;
}

.password{
    margin-left:550px ;
    margin-right: 550px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;


}

button{
    margin-left:550px ;
    margin-right: 550px;
    margin-top: 10px;
    padding: 17px;
    border-radius: 13px;
    border: none;
    background-color: rgb(238, 107, 13);
    
}